@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --yellow: #f99e1a;
  --grey: #43484c;
  --dark-blue: #405275;
  --light-blue: #218ffe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgb(67, 72, 76);
  background: linear-gradient(
    90deg,
    rgba(67, 72, 76, 1) 0%,
    rgba(64, 82, 117, 1) 35%,
    rgba(33, 143, 254, 1) 100%
  );
  position: relative;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  background-color: var(--grey);
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--yellow);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 6px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid hsla(0, 0%, 100%, 0.493);
  border-radius: 1px;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover > .info {
  color: #1a325e;
  background-color: white;
}

.info {
  position: absolute;
  bottom: 0;
  letter-spacing: 0.8px;
  padding: 1rem;
  display: flex;
  width: 100%;
  color: white;
  background-color: rgba(40, 53, 79, 0.9);
  justify-content: center;
  font-style: italic;
}
